.data-partners {
  margin: 5em 5em 10em 5em;
  padding: 1em;
  display: inline-block;
  max-width: 20rem;
  
}

.img-partners{
    height: 200px; width: 100%; 
    display: block;
}

.form-small-partners{
  margin: 1em 1em 1em 3em;
  display: inline-block;
}

.form-large-partners{
  margin: 1em 1em 1em 3em;
  max-width: 31rem;
}